block config
    - var pageTitle = 'The English Authority'
doctype
html(lang="en")
    head
        title TEA | #{pageTitle}
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        link(href="http://www.theenglishauthority.com/css/styles.css", rel="stylesheet")
        link(rel="shortcut icon" href="http://www.theenglishauthority.com/img/favicon.png" type="image/x-icon")
    body
        include navbar
        block main
        include footer
    script( src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js' )
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
    script( src='http://www.theenglishauthority.com/js/blog.js')