extends templates/format

block append config
    - var pageTitle = 'The English Authority'

block main
    .hero-bg
        .hero-content
            h1 Learn English
            h2 for Free!
            a.btn Start Now
